doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title 404 - Page not found
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='This is not the web page you are looking for.')
    meta(property='og:title', content='Decred Dashboard')
    meta(property='og:description', content='An open, progressive, and self-funding cryptocurrency with a system of community-based governance integrated into its blockchain.')
    meta(property='og:url', content='https://dcrstats.com')
    meta(name='yandex-verification',content='4a6410aac09ce382')
    link(rel="icon",type="image/png",href="/img/favicon.png")
    link(rel="apple-touch-icon",href="/img/apple-touch-favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400", rel='stylesheet')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
  body.not-found-page
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-12.not-found-page
          h1 404
          h2 Page not found
          h3
            a(href="https://dcrstats.com") Go to main page