doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5&appId=297377503766427";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .articles-header
      h1 Decred Tutorials
      p.articles-subtitle
        | Write a tutorial and get 5 DCR in reward.
        br
        | Let's build great Decred Community together!
      a.btn.btn-info(href='https://dcrstats.com/articles/write-decred-tutorial') Write a Tutorial
    .container
      .row.articles-list 
        .article
          h3
            a(href='https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro') How To Mine Decred in the Pool using NVIDIA GPUs (ccminer)
          .meta
            a(href='https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro#comments')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro") 0 
              span  comments 
            span.author
              |  — by Brothercasters, 14 April 2016
        .article
          h3
            a(href='https://dcrstats.com/articles/decred-solo-pos-mining') Solo PoS-mining in Decred
          .meta
            a(href='https://dcrstats.com/articles/decred-solo-pos-mining#comments')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="https://dcrstats.com/articles/decred-solo-pos-mining") 0 
              span  comments 
            span.author
              |  — by John 'Chiguireitor' Villar, 09 April 2016
        .article
          h3
            a(href='https://dcrstats.com/articles/understanding-the-value-of-the-decred-dcr-system') Understanding the Value of the Decred (DCR) System
          .meta
            a(href='https://dcrstats.com/articles/understanding-the-value-of-the-decred-dcr-system#comments')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="https://dcrstats.com/articles/understanding-the-value-of-the-decred-dcr-system") 0 
              span  comments 
            span.author
              |  — by Isaac Rewolucja, 09 April 2016
        .article
          h3
            a(href='https://dcrstats.com/articles/running-local-decred-wallet') The Basics of Running a Local Decred Wallet
          .meta
            a(href='https://dcrstats.com/articles/running-local-decred-wallet#comments')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="https://dcrstats.com/articles/running-local-decred-wallet") 0 
              span  comments 
            span.author
              |  — by Isaac Rewolucja, 07 April 2016
        .article
          h3
            a(href='https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro') How to buy Decred with USD, EUR
          .meta
            a(href='https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro#comments')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="https://dcrstats.com/articles/how-to-buy-decred-with-usd-euro") 0 
              span  comments 
            span.author
              |  — by Dyrk, 05 April 2016

    footer
      include ./includes/footer.jade