doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    .container
      .row
        .article!= content
          hr
        .fb-comments(data-href="https://dcrstats.com/blog/#{uri}",data-numposts="10")
    footer
      include ./includes/footer.jade