doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    .articles-header
      h1 Decred Tutorials
      p.articles-subtitle
        | Write a tutorial and get 5 DCR in reward.
        br
        | Let's build great Decred Community together!
      a.btn.btn-info(href='/articles/write-decred-tutorial') Write a Tutorial
    .container
      .row.articles-list
        .article
          h3
            a(href='/articles/how-to-buy-decred-with-usd-euro') How to buy Decred with USD, EUR
          .meta
            a(href='/articles/how-to-buy-decred-with-usd-euro')
              i.fa.fa-comment-o
              span.fb-comments-count(data-href="/articles/how-to-buy-decred-with-usd-euro") 0 
              span  comments

    footer
      include ./includes/footer.jade