doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Decred Dashboard, Network Statistics, Charts - Dcrstats
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='An open, progressive, and self-funding cryptocurrency with a system of community-based governance integrated into its blockchain.')
    meta(property='og:title', content='Decred Dashboard')
    meta(property='og:description', content='An open, progressive, and self-funding cryptocurrency with a system of community-based governance integrated into its blockchain.')
    meta(property='og:url', content='http://dcrstats.com')
    meta(name='yandex-verification',content='4a6410aac09ce382')
    link(rel="icon",type="image/png",href="img/favicon.png")
    link(rel="apple-touch-icon",href="img/apple-touch-favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400", rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css?v2', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(src='js/charts.js?v2')
    script(src='js/main.js?v2')
  body
    nav.navbar.navbar-inverse(style='border-radius: 0;')
      .container
        #navbar
          ul.nav.navbar-nav.navbar-right(style='display: none;')
            li
              a(href='#')
                | Blog
            li
              a(href='#')
                span(style='margin-right: 5px;') Chat
                span.badge(style='background: #ba2121;font-weight: 300;') 50
    .container
      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Last price:
            span.stats-content.stats-lastprice -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Day Low:
            span.stats-content.stats-daylow.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Day High:
            span.stats-content.stats-dayhigh.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title DCR / BTC
            span.stats-content.stats-btc -
      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Best block:
            span.stats-content.stats-blocks.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Hashrate:
            span.stats-content.stats-hashrate.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Difficulty
            span.stats-content.stats-difficulty.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Avg block time:
            span.stats-content.stats-time.text-black -

      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Ticket Price:
            span.stats-content.stats-ticketprice -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title PoS Poolsize:
            span.stats-content.stats-poolsize -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Mempool
            span.stats-content.stats-mempool -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.hidden-xs Avg Fees In Mempool:
            span.stats-title.visible-xs-block Avg Fees
            span.stats-content.stats-fees -
      .row.reward-hints(style="display: none;")
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title Ticket price adjustment
            h5.est-pos-time
            h5.est-pos-blocks
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title Estimated ticket price
            h5.est-pos-price
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title Block reward
            h5.block-reward
            p.pow-block-reward
            p.pos-block-reward
            p.dev-block-reward
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title Reward adjustment
            h5.est-block-reward
            h5.est-reward-time
            h5.est-reward-blocks

      .row
        .col-xs-12.col-md-6.mobile-top-chart
          #voters.chart-container
        .col-xs-12.col-md-6
          #supply.chart-container
      .row
        .col-xs-12.col-md-6.hint-pos
        .col-xs-12.col-md-6
          .hint.hint-blue
            h4 Keep tracking mempool fees
            p
              | Maximum fee in the mempool is 
              b.max-fee - DCR
              | , while the average is 
              b.avg-fee - DCR
              | . Usually we don't suggest to set fees higher than average. However if you want to be sure that your transactions will be included in the next block, you can set fee a little higher than current max.
      .row
        .col-xs-12.col-sm-12
          #price-chart.chart-container
      //.row
        .col-xs-12.col-sm-12
          #pos-poolsize.chart-container
      //.row
        .col-xs-12.col-sm-12
          #pos-sbits.chart-container
    footer
      div.pull-left
        p 
          | Contact: 
          span
            | info@dcrstats.com
        p 
          | Support project development: 
          span
            | Dsgm5RTerEDFQFJsr9uQ27pKQ1sfp5JZqPq
        div.pluso(data-background='transparent', data-options='medium,square,line,horizontal,counter,theme=02', data-services='twitter,facebook,google', data-title='Decred Dashboard', data-description='Decred is an open and progressive cryptocurrency with a system of community-based governance integrated into its blockchain.', data-url='http://dcrstats.com')
      div.pull-right
        p
          | dcrstats.com is the biggest unofficial dashboard of Decred Network. It is 
          a(href="https://github.com/Dyrk/decred-dashboard", target="_blank") open source project
          | &nbsp;so feel free to send any improvements and bug reports on github.
          | Here you can find plenty of decred network statistics, charts, PoS-mining hints and predictions, FAQ etc.
          | This project is in continuous development, so feel free to contact us and ask for new functionality ;)
  if env == 'production'
    script(src='js/metrics.js')
