doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    .container
      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.glyphicon.glyphicon-question-sign(title="Price based on data from Bittrex + BTC-E")
            span.stats-title Last price:
            span.stats-content.stats-lastprice -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Day Low:
            span.stats-content.stats-daylow.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Day High:
            span.stats-content.stats-dayhigh.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.glyphicon.glyphicon-question-sign(title="Last price on Bittrex")
            span.stats-title DCR / BTC
            span.stats-content.stats-btc -
      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Best block:
            span.stats-content.stats-blocks.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Hashrate:
            span.stats-content.stats-hashrate.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Difficulty
            span.stats-content.stats-difficulty.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Avg block time:
            span.stats-content.stats-time.text-black -

      .row
        .col-xs-6.col-md-3
          p.stats-block
            //span.real-pos-price.glyphicon.glyphicon-question-sign(title="")
            span.stats-title Ticket Price:
            span.stats-content.stats-ticketprice -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title PoS Poolsize:
            span.stats-content.stats-poolsize -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Mempool
            span.stats-content.stats-mempool -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.hidden-xs Avg Fees In Mempool:
            span.stats-title.visible-xs-block Avg Fees
            span.stats-content.stats-fees -
      .row.reward-hints
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title.hidden-xs Ticket price adjustment
            span.stats-title.visible-xs-block Ticket price change
            h5.est-pos-time
            h5.est-pos-blocks
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title Estimated ticket price
            h5.est-pos-price
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title Block reward
            h5.block-reward
            p.pow-block-reward
            p.pos-block-reward
            p.dev-block-reward
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title.hidden-xs Reward adjustment
            span.stats-title.visible-xs-block Next reward
            h5.est-block-reward
            h5.est-reward-time
            h5.est-reward-blocks

      .row
        .col-xs-12.col-md-6.mobile-top-chart
          #voters.chart-container
        .col-xs-12.col-md-6
          #supply.chart-container
      .row
        .col-xs-12.col-md-6.hint-pos
        .col-xs-12.col-md-6
          .hint.hint-blue
            h4 Keep tracking mempool fees
            p
              | Maximum fee in the mempool is 
              b.max-fee - DCR
              | , while the average is 
              b.avg-fee - DCR
              | . Usually we don't suggest to set fees higher than average. However if you want to be sure that your transactions will be included in the next block, you can set fee a little higher than current max.
      .row
        .col-xs-12.col-sm-12
          .btn-toolbar(role='toolbar')
            .btn-group.price-group
              button.btn-chart.btn.btn-default(type='button', data-ticker="btc", data-chart="price")
                span BTC
              button.btn-chart.btn.btn-default.active(type='button', data-ticker="usd", data-chart="price")
                span USD
          #price-chart.chart-container
      .row
        .col-xs-12.col-sm-12
          .btn-toolbar(role='toolbar')
            .btn-group.pos-group
              button.btn-chart.btn.btn-default(type='button', data-period="7", data-chart="poolsize")
                span Week
              button.btn-chart.btn.btn-default(type='button', data-period="30", data-chart="poolsize")
                span Month
              button.btn-chart.btn.btn-default.active(type='button', data-period="365", data-chart="poolsize")
                span Year
          #pos-poolsize.chart-container
      .row
        .col-xs-12.col-sm-12
          .btn-toolbar(role='toolbar')
            .btn-group.pos-group
              button.btn-chart.btn.btn-default(type='button', data-period="7", data-chart="sbits")
                span Week
              button.btn-chart.btn.btn-default(type='button', data-period="30", data-chart="sbits")
                span Month
              button.btn-chart.btn.btn-default.active(type='button', data-period="365", data-chart="sbits")
                span Year
          #pos-sbits.chart-container
    footer
      include ./includes/footer.jade
