doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    .container
      .row.articles-list
        .article
          h3
            a(href="/articles/decred-proof-of-stake-mining") 
              | Understanding of Proof of Stake (PoS) in Decred

    footer
      include ./includes/footer.jade