.row
      .col-xs-3
        .big-info.bestblock.text-info(style='\
        padding: 5px;\
        background: #eaf0ed;\
        ')
          .big-details-holder
            span.small-title(style='\
            font-weight: 700;\
            font-size: 14px;\
            line-height: 20px;\
            letter-spacing: 1px;\
            text-transform: uppercase;\
            color: #aaa;\
            ') Last Price
            span.big-details.ng-binding(style="\
            display: block;\
            font-weight: 300;\
            font-size: 50px;\
            line-height: 55px;\
            letter-spacing: -4px;\
            color: #10a0de;\
            font-family: 'Source Sans Pro', sans-serif;\
            ") $1.32
          .clearfix
      .col-xs-3
        .big-info.bestblock.text-info
          .big-details-holder
            span.small-title(style='\
            font-weight: 700;\
            font-size: 14px;\
            line-height: 20px;\
            letter-spacing: 1px;\
            text-transform: uppercase;\
            color: #aaa;\
            ') DCR / BTC
            span.big-details.ng-binding(style='\
            display: block;\
            font-weight: 200;\
            font-size: 50px;\
            line-height: 55px;\
            letter-spacing: -4px;\
            color: #10a0de;\
            ') 0.00334001
          .clearfix
      .col-xs-3
        .big-info.bestblock.text-info
          .big-details-holder
            span.small-title(style='\
            font-weight: 700;\
            font-size: 14px;\
            line-height: 20px;\
            letter-spacing: 1px;\
            text-transform: uppercase;\
            color: #aaa;\
            ') Day low
            span.big-details.ng-binding(style='\
            display: block;\
            font-weight: 200;\
            font-size: 50px;\
            line-height: 55px;\
            letter-spacing: -4px;\
            color: #10a0de;\
            ') $1.32
          .clearfix
      .col-xs-3
        .big-info.bestblock.text-info
          .big-details-holder
            span.small-title(style='\
            font-weight: 700;\
            font-size: 14px;\
            line-height: 20px;\
            letter-spacing: 1px;\
            text-transform: uppercase;\
            color: #aaa;\
            ') Day High
            span.big-details.ng-binding(style='\
            display: block;\
            font-weight: 200;\
            font-size: 50px;\
            line-height: 55px;\
            letter-spacing: -4px;\
            color: #10a0de;\
            ') $1.32
          .clearfix