body {
  background: #f2f2f0;
}

.navbar-inverse {
  background-color: #373737;
  border-color: #373737;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.row {
  margin-bottom: 20px;
}

p span.text-black {
  color: #333;
}

@media (max-width: 768px) {
  .glyphicon {
    display: none;
  }
  .stats-block .stats-title {
    font-size: 10px;
    line-height: 16px;
  }
  .stats-block .stats-content {
    line-height: 36px;
    letter-spacing: 0;
    font-size: 20px;
  }
}

/***** Chat *****/

.chat-wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  width: 320px;
  right: -320px;
}

.chart-container {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}

/***** End Chat ****/

.stats-block {
  background: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #EAEAEA;
}

.stats-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaa;
}

.stats-content {
  display: block;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -2px;
  color: #10a0de;
}

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 40px;
  overflow: hidden;
}

footer p {
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #BDBDBD;
  max-width: 400px;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
}

footer span, 
footer a,
footer a:visited {
  color: rgba(255, 255, 255, 0.85);
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #fff;
}

.pluso {
  margin-top: 11px;
}

.pluso-more {
  visibility: hidden;
}

footer div.pluso .pluso-wrap a {
  margin: 3px 3px 0 0;
}
