body {
  background: #f2f2f0;
}

nav .navbar-brand {
  padding: 5px 15px;
  height: 40px;
}

nav .navbar-toggle {
  padding: 4px 10px;
}

nav.navbar {
  min-height: 40px;
}

.navbar-inverse {
  background-color: #373737;
  border-color: #373737;
}

.navbar-brand img {
  width: 30px;
}

.navbar-brand img:hover {
  opacity: 0.8;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #CCCCCC;
}

.row {
  margin-bottom: 20px;
}

p span.text-black {
  color: #333;
}

@media (max-width: 768px) {
  .glyphicon {
    display: none;
  }
  .stats-block .stats-title {
    font-size: 10px;
    line-height: 16px;
  }
  .stats-block .stats-content {
    line-height: 36px;
    letter-spacing: 0;
    font-size: 20px;
  }
  .mobile-top-chart {
    margin-bottom: 20px;
  }
  .reward-hints .hint h5 {
    font-size: 14px !important;
  }
  .reward-hints .hint-md {
      min-height: 274px !important;
  }
  .reward-hints .hint-sm {
      min-height: 221px !important;
  }
}

.chart-container {
  margin: 0 auto;
}

/***** Chat *****/

.chat-wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  width: 320px;
  right: -320px;
}

/***** End Chat ****/

.stats-block {
  background: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #EAEAEA;
}

.stats-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaa;
}

.stats-content {
  display: block;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -2px;
  color: #10a0de;
}

.hint {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background: #fff;
  min-height: 171px;
}

.reward-hints .hint-md,
.reward-hints .hint-sm {
  min-height: 195px;
}

.hint-red {
  border-left-color: #ce4844;
}

.hint-red span b {
  color: #ce4844;
}

.hint-blue {
  border-left-color: #1b809e;
}

.hint-blue span b {
  color: #1b809e;
}

.hint h5 {
  font-size: 20px;
  color: #333;
  /* color: #CE4844; */
  font-weight: 300;
}

.hint h5.est-block-reward {
  color: #7B7B7B;
}

sup {
  color: #1F8BB7;
  margin-left: 4px;
}

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 40px;
  overflow: hidden;
}

footer p {
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #BDBDBD;
  max-width: 400px;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
}

footer span, 
footer a,
footer a:visited {
  color: rgba(255, 255, 255, 0.85);
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #fff;
}

.pluso {
  margin-top: 11px;
}

.pluso-more {
  visibility: hidden;
}

footer div.pluso .pluso-wrap a {
  margin: 3px 3px 0 0;
}
